:root {
    --mods:#253646;
    --modtext:#f9f6f3;
    --alphas:#b6d9eb;
    --alphatext:#253646;
    --link1:#f9f6f3;
    --link2:#f9f6f3;
    --link3:#f9f6f3;
    --link4:#f9f6f3;
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Space Mono";
    animation: fade 2s;
}

.grid_container {
    display: grid;
    grid-template-columns: 16.67% 83.33%;
}

.logo_grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: var(--mods);
}

.logo_grid object {
    display: block;
    margin: auto;
}

.icon1 {
    width: 55%;
    background-color: var(--mods);
    display: block;
    margin: auto;
}

.icon1 svg {
    fill: var(--link1);
}

.icon2 {
    width: 55%;
    background-color: var(--mods);
    display: block;
    margin: auto;
}

.icon2 svg {
    fill: var(--link2);
}

.icon3 {
    width: 55%;
    background-color: var(--mods);
    display: block;
    margin: auto;
}

.icon3 svg {
    fill: var(--link3);
}

.icon4 {
    width: 55%;
    background-color: var(--mods);
    display: block;
    margin: auto;
}

.icon4 svg {
    fill: var(--link4);
}

img {
    display: block;
    margin: auto;
}

.sidenav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 10% 10% 10% 10% 10% 20% 10% 5% 10%;
}

.grid_block_10 {
    background-color: var(--mods);
    color: var(--modtext);
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 20%;
}

.grid_block_20 {
    background-color: var(--mods);
    color: var(--modtext);
    text-align: center;
    font-size: 2.5rem;
}

.grid_body {
    background-color: var(--alphas);
    color: var(--alphatext);
}

.dropdown_button {
    background-color: var(--mods);
    color: var(--modtext);
    border: none;
    font-size: 0.875rem;
    font-family: "Space Mono";
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown_content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

h1 {
    width: 27ch;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-right: 2px solid var(--alphatext);
    text-align: center;
    font-size: 3.25rem;
    animation: type 2s steps(27), blink .5s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

p {
    font-size: 1.125rem;
    padding-left: 10%;
    padding-right: 10%;
    animation: fade 3s;
}

@keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes type{
    0% {width: 0ch;}
    100% {width: 27ch;}
}

@keyframes blink{
    0% {border-color: var(--alphatext);}
    100% {border-color: transparent;}
}